 .header_reparation_informatique {
    background-color: $evenement;
    padding-top:5px;
    height: 350px;
 }
 .section_titre{
    margin-bottom: 100px;
 }
 .logo__1{
    position: absolute;
    top: 65px;
    right: 0;
    transform: translate(0, -50%);
    width: 200px;
 }
 #titre_Reparation{
  margin-top: 100px;
  font-size: 54px;
  font-weight: bold;
  color: black;
   text-shadow: 0 10px 20px $black;
}

//section main
.section1_réparstion{
    display: flex;
    // width: 100%;
    justify-content: center;
   align-items: center;
   text-align: center;
    padding: 10px;
    gap: 30px;
    margin-top: 30px;
    // margin-bottom: 100px;
}
.hr_reparation{
    width: 800px;
    text-align: center;
   
    border: 2px dashed blue;
    margin: 30px auto;
}
 @media screen and (max-width : 600px){
    .section1_réparstion{
        flex-direction: column;
    }
    .image_1_reparation{
        width: 300px;
        text-align: center;
        
        
    }
    .titre_explique{
        font-size: 30px;
    }
    .para_explique{
        font-size: 10px;
        font-weight: normal;
        text-align: left;
    }
    
 .section_explique{
    // width: 100%;
    padding: 10px;
  
     

}
#titre_Reparation{
    font-size: 36px;
}
 }
    

.image_1_reparation{
    width: 400px;
    // height: 600px;
    
}



 
    
    

.titre_explique{
    color: blue;
    font-weight: bold;
    text-shadow: 0 10px 20px blue;

}
.para_explique{
    margin-top: 4rem;
    color: black;
    font-size: 20px;
    
}
.button_contactez{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    margin-top: 3rem;
    background-color:$evenement ;
}
.button_contactez:hover{
    background-color: blue;
    color: white;
    
}
 